.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    padding-bottom: 0;
    background-color: white;
    font-family: 'Roboto';
  }
  
  .logo-text{
    display: flex;
    align-items: center;
  }

  .text{
    display: flex;
    flex-direction: column;
  }
  .text div{
    font-weight: bold;
    font-size: 20px;
  }

  .navbar img{
    width: 120px;
    height: 120px;
  }
  
  .ul-navbar {
    list-style: none;
    display: flex;
    justify-content: space-between;
  }
  
  .ul-navbar li {
    margin: 0 50px;
  }
  
  .ul-navbar a {
    text-decoration: none;
    color: black;
    font-size: 18px;
  }
  .ul-navbar li:first-child a {
    border-top: solid 1px;
    border-bottom: solid 1px;
    padding: 15px; 
  }
  
  .ul-navbar a:hover {
    color: #f0a500;
  }
  .ul-navbar .highlight-login a {
    background-color: #ff5733; 
    color: #fff; 
    border-radius: 20px;
    padding: 10px 25px; 
    font-weight: bold;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.ul-navbar .highlight-login a:hover {
    background-color: #2200ff;
    color: #fff;
}
.ul-navbar i:hover {
  color: #f0a500;
}
.ul-navbar .highlight-login i {
  background-color: #ff5733; 
  color: #fff; 
  border-radius: 20px;
  padding: 10px 25px; 
  font-weight: bold; 
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.ul-navbar .highlight-login i:hover {
  background-color: #2200ff;
  color: #fff;
}
